// responsive
$max-width: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
$min-width: 360px;

// colors
$black: #181818;
$white: #F3F3F3;

$text-color: white;
$bg-color: black;
$decor-color: #222;